/* All styles for your header Components live here */

.headerContainer {
    display: flex;
}

.headerContainer img {
    width: 70px;
    height: 70px;
    margin: 0 15px;
}

.headerContainer p {
    max-width: 500px;
}